#chat-output {
    padding: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    max-height: 350px;
}

#icon-send {
    max-height: 15px;
}

#send-btn {
    display: inline;
}

#user-message {
    width: 350px;
    display: inline;
}

#iconbot {
    width: 50px;
    height: 30px;
    display: inline;
}

.assistant-message,
.user-message {
    color: #000000;
    padding: 15px;
    margin-bottom: 0;
}

.assistant-message-wrapper {
    background-color: #eeeeee;
    padding: 3px;
    border-radius: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 10px;
    max-width: 350px;
    margin-bottom: 1rem;
}

.user-message-wrapper {
    background-color: #479df885;
    padding: 3px;
    border-radius: 16px;
    margin-bottom: 3px;
    margin-left: 150px;
    margin-right: 20px;
    margin-bottom: 0.5rem;
}

.welcome-header {
    height: 50px;
    display: flex;
    flex-direction: column-reverse;
}

#plugin-icon {
    border: #eeeeee;
}

.input-box {
    margin: 20px;
}

.choices-button {
    border-radius: 20px;
    margin: 5px;
}

.choices-button:hover:not([disabled]) {
    background-color: transparent;
    color: #212529;
    border-color: #079fff;
}

.choices-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columns with equal width */
    grid-template-rows: repeat(5, 1fr); /* 5 rows with equal height */
    gap: 10px; /* add a 10px gap between grid items */
    margin-left: 10px;
    margin-right: 10px;
}
